/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* ---- */
.body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 12px;
	font-family: Arial, sans-serif;
}
.container {
	width: 400px;
	padding: 10px;
	border: 8px solid #ebebeb;
	font-family: "BebasNeueRegular", "Arial", sans-serif;
	font-size: 12px;
	color: #787878;
	background-color: #f9f9f9;
}
table,
td,
th,
tr {
	border-collapse: collapse;
	border: 1px solid white;
	text-align: right;
}
th {
	text-align: center;
}
table img {
	width: 100%;
}
.bg-blue {
	background-color: #edfaff;
}
.bg-green {
	background-color: #e7f6df;
}
.bg-red {
	background-color: #fededf;
}
.red {
	color: red;
}
.green {
	color: green;
}
.left {
	text-align: left;
}
.statistic {
	padding: 10px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}
.statistic__icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100px;
}
.statistic__reload {
	flex: 0 0 33%;
	text-align: right;
	cursor: pointer;
}
.statistic__settings {
	flex: 0 0 33%;
	text-align: right;
	cursor: pointer;
}
.statistic__close {
	flex: 0 0 33%;
	text-align: right;
	cursor: pointer;
}
